html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.page-head {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 20px;
}
.spacer {
    visibility: hidden;
}
.btn {
    cursor: pointer;
    background-color: #4ade80;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
}
.shop-refresh-container {
    display:flex;
    justify-content: end;
}
.list-style {
    list-style: None;
    padding: 0;
    overflow-y:auto;
    height: 200px;
}
.list-item-style {
    margin-bottom: 10px;
    border-bottom: 1px dashed #4ade80;
    padding-bottom:8px;
}


.game-layout {
    flex: 1;
    display: grid;
    grid-template-areas:
        "char enemy shop"
        "stats combat chat";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 350px 240px;
    gap: 16px;
    padding: 50px 100px;
    height: cacl(100vh - 60px)
    align-content: center;
}

.character-panel {grid-area: char;}
.enemy-panel {grid-area: enemy;}
.shop-panel {grid-area: shop;}
.stats-panel {grid-area: stats;}
.combat-panel {grid-area: combat;}
.chat-panel {grid-area: chat;}

.header, .auth-panel, .character-panel, .enemy-panel, .shop-panel,
.stats-panel, .combat-panel, .chat-panel {
    border: 2px solid #4ade80;
    padding: 12px;
    text-align: center;
}