{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>RPG Clicker</title>
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>

<body>
    <div class="page-head">
        <div class="spacer">LOG IN</div>
        <header class="header">NAME</header>
        <div class="auth-panel">
            {% if request.user.is_authenticated %}
                <span>👤 {{ request.user.username }}</span>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        LOG OUT
                    </button>
                </form>
            {% else %}
                <div>
                    <a href="{% url 'login' %}">
                    <button type="button">LOG IN</button>
                    </a>
                     <a href="{% url 'register' %}">
                    <button type="button">REGISTER</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="game-layout">
        <section class="character-panel">
            {% if character %}
                <div>
                    <h2>Ваш Герой</h2>
                    <h3>{{ character.name }}</h3>
                </div>
                {% if inventory %}
                    <div>
                        <ul class="list-style">
                            {% for char_item in inventory %}
                                <li class="list-item-style">
                                    <div><strong>{{char_item.item.name}}</strong></div>
                                    <div>UPGRADE: {{char_item.item.stat_display}}</div>
                                    <form action="{% url 'sell_item' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="inventory_record_id" value="{{char_item.id}}">
                                        <button type="submit" class="btn">
                                            Sell
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p>Inventory is empty!</p>
                {% endif %}
            {% else %}
                <p>Персонаж не найден. Создай его в панели администратора!</p>
            {% endif %}
        </section>
        <section class="enemy-panel">
            {% if enemy %}
                <div>
                    <h2>Ваш Враг</h2>
                    <h3>{{enemy.name}}</h3>
                    <p><strong>Здоровье:</strong> {{character.enemy_hp}}</p>
                    <p><strong>Урон:</strong> {{enemy.damage}}</p>
                    <p><strong>Награда опыта:</strong> {{enemy.reward_exp}}</p>
                    <p><strong>Награда золото:</strong> {{enemy.reward_gold}}</p>
                </div>
            {% else %}
                <p>Врага нет</p>
            {% endif %}
        </section>
        <aside class="shop-panel">
            <p>Store menu</p>
            <div class="shop-refresh-container">
                <form action="{% url 'refresh_store' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        🔄 {{character.store_refresh_cost}} gold
                    </button>
                </form>
            </div>
            {% if offers %}
                <ul class="list-style">
                    {% for offer in offers %}
                    <li class="list-item-style">
                        <div><strong>{{offer.item.name}}</strong></div>
                        <div>Price: {{offer.item.cost}}</div>
                        <div>Bonus: {{offer.item.stat_display}}</div>
                        <form action="{% url 'buy_item' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="offer_id" value="{{offer.id}}">
                            <button type="submit" class="btn">
                                BUY
                            </button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>STORE IS EMPTY!</p>
            {% endif %}
        </aside>

        <section class="stats-panel">
            {% if character %}
                <div>
                    <p><strong>Уровень:</strong> {{ character.level }}</p>
                    <p><strong>Опыт:</strong> {{ character.exp }} / {{character.exp_to_new_level}}</p>
                    <p><strong>Здоровье:</strong> {{ character.hp }} / {{ character.total_max_hp }} (From items: {{character.sum_hp_bonus}})</p>
                    <p><strong>Урон:</strong> {{ character.total_click_damage }} (From items: {{character.sum_click_damage_bonus}})</p>
                    <p><strong>DPS:</strong> {{ character.total_dps_damage }} (From items: {{character.sum_dps_bonus}})</p>
                    <p><strong>Золото:</strong> {{ character.gold }} 🪙</p>
                </div>
            {% else %}
                <p>Персонаж не найден. Создай его в панели администратора!</p>
            {% endif %}
        </section>
        <section class="combat-panel">Combat/ability/HP
            <div style='margin-top: 20px;'>
                <form action="{% url 'attack_action' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        Ударить врага!
                    </button>
                </form>
            </div>
        </section>
        <section class="chat-panel">
            <div>
                CHAT
            </div>
        </section>
    </div>
</body>
</html>